@{
    ViewData["Title"] = "Home Page";
}

<h1>User library:</h1>

<button class="btn btn-success" id="addUserBtn">Add random user</button>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody id="tableBody"></tbody>
</table>

@section Scripts{
    <script>
        // Ajax here...

        function updateData() {
            $("#tableBody").html(" ");
            $.ajax({
                type: "GET",
                url: "http://localhost:1186/api/users",
                async: true,
                cache: false,
                crossDomain: true,
                contentType: "application/json; charset=utf-8",
                success: function (responseData, textStatus, jqXHR) {
                    var value = responseData;

                    $.each(value, function (key, value) {
                        $("#tableBody").append('<tr><td>' + key + '</td><td>' + value.userName + '</td><td>' + value.email + '</td></tr>')
                    });

                    console.log(value);
                },
                error: function (responseData, textStatus, errorThrown) {
                    alert('GET failed.');
                }
            });
        }

        function addUser() {
            $.ajax({
                type: "POST",
                url: "http://localhost:1186/api/users",
                async: true,
                cache: false,
                crossDomain: true,
                contentType: "application/json; charset=utf-8",
                success: function (responseData, textStatus, jqXHR) {
                    updateData();
                },
                error: function (responseData, textStatus, errorThrown) {
                    alert('POST failed.');
                }
            });
        }

        function CallSoap() {
            console.log("Soap beginning !")
            $.soap({
                url: 'http://localhost:9000/GetDate?wsdl',
                method: 'getDate',

                success: function (soapResponse)
                {
                    // do stuff with soapResponse
                    console.log('No Error!')
                    console.log(soapResponse)

                    // if you want to have the response as JSON use soapResponse.toJSON();
                    // or soapResponse.toString() to get XML string
                    // or soapResponse.toXML() to get XML DOM
                },
                error: function (soapResponse)
                {
                    console.log("Error maan!!")
                    // show error
                }
            });
            console.log("Bottom")
        }

        $(document).ready(function () {
            //updateData();
            CallSoap();

            $("#addUserBtn").click(function () {
                console.log("Clicked")
                addUser();
            }); 

        });


    </script>
}